modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
JWT_SECRET = "WW+LfK7wcM1sIDIJFNbwBYR2Ns5GTgiZfvYH2ew385/FzH2u4m93cGs+hIBOmAT8"
VAPID_PUBLIC_KEY = "BMrSF9SLc93vbRXnszb-NymLDD0VyYL7SGxyluvigVDDYMiR4M3Cy9_1rrfKwnHlAteDsrEr1-46_cP0VrQzuQA"
VAPID_PRIVATE_KEY = "hZG62FQqtE3QrPbM_P4D31f9r-be2SZ3WXqHaelz53k"
VAPID_SUBJECT = "mailto:admin@condobase.com"

[agent]
integrations = ["javascript_object_storage:2.0.0", "stripe:2.0.0", "twilio:1.0.0"]
